<body>
  <header>
    <h1>Registration</h1>
    <p>already have an account? <a routerLink="/login">login here</a> </p>
  </header>
  <main>
    <section class="s">
      <button class="btn-left" type="submit" (click)="setUserRegistration()" [class.clicked] = "isUser" > User </button>
      <button class="btn-right" type="submit" (click)="setAdminRegistration()" [class.clicked] = "!isUser"> Admin </button>
    </section>
    <section class="input">
      <form ngNativeValidate (ngSubmit)="toggleRegistration()">
        <div class="inputfield">
          <label class="input_label">Vorname:</label>
          <input type="text" [(ngModel)]="vorname"
                 id="vorname"
                 name="vorname"
                 placeholder="vorname"
                 required>
        </div>

        <div class="inputfield" >
          <label class="input_label">Nachname:</label>
          <input type="text" [(ngModel)]="nachname"
                 id="nachname"
                 name="nachname"
                 placeholder="nachname"
                 required>
        </div>

        <div class="inputfield" *ngIf="isUser">
          <label class="input_label">Geburtstag:</label>
          <input type="text" [(ngModel)]="geburtstag"
                 id="birthday"
                 name="birthday"
                 placeholder="geburtstag"
                 required>
        </div>

        <div class="inputfield">
          <label class="input_label">Email:</label>
          <input type="text" [(ngModel)]="email"
                 id="email"
                 name="email"
                 placeholder="email"
                 required>
        </div>

        <div class="inputfield">
          <label class="input_label">Passwort:</label>
          <input type="text" [(ngModel)]="passwort"
                 id="passsword"
                 name="passsword"
                 placeholder="passswort"
                 required>
        </div>

        <div class="inputfield">
          <label class="input_label">Passwort wiederholen:</label>
          <input type="text" [(ngModel)]="passwort_wiederholt"
                 id="passsword_repeated"
                 name="passsword"
                 placeholder="passswort wiederholen"
                 required>
        </div>

        <div class="inputfield" *ngIf="isUser">
          <label class="input_label">Profilbild:</label>
          <input type="text" [(ngModel)]="profilbild"
                 id="profilpicture"
                 name="profilpicture"
                 placeholder="profilbild"
                 required>
        </div>

        <button class="btn" type="submit">register</button>
        <p>{{registrationMSG}}</p>
      </form>
    </section>

    <section>
      <table>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Vorname</th>
            <th scope="col">Nachname</th>
            <th scope="col">email</th>
            <th scope="col">passwort</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let admin of adminList">
          <td>{{ admin.id }}</td>
          <td>{{ admin.vorname }}</td>
          <td>{{ admin.nachname }}</td>
          <td>{{ admin.email }}</td>
          <td>{{ admin.passwort }}</td>
          </tr>
        </tbody>
      </table>
    </section>

  </main>
</body>
